<%= render "shared/header" %>
<div class="post-lists">
  <div class="list-info">
    <h3 class="info-title">リストを編集する</h3>
    <%= form_with model: @list, url: list_path(@list.id), method: :patch, local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <div class="content-info">
        <div class="content-text">タイトル<span class="required">（必須）</span></div>
        <%= f.text_field :title, class: "title-input" %>
      </div>
      <div class="content-info">
        <div class="content-text">URL</div>
          <%= f.text_field :url, class: "url-input" %>
      </div>
      <div class="content-info">
        <div class="content-text">メールアドレス</div>
        <%= f.email_field :email, class: "email-input" %>
      </div>
      <div class="content-info">
        <div class="content-text">パスワード</div>
        <%= f.password_field :password, value: @list.password, class: "password-input" %>
      </div>
      <div class="fee-content">
        <div class="content-text-1">料金形態<span class="required">（必須）</span></div>
          <label><%= f.radio_button :fee, "free", class: "fee-input" %>無料</label>
          <label><%= f.radio_button :fee, "paid", class: "fee-input" %>有料</label>
      </div>
      <div class="content-info">
        <div class="content-text">メモ</div>
        <%= f.text_area :memo, class: "memo-input" %>
      </div>
      <ul class="btn-content">
        <li class="post-box"><%= f.submit "POST", class: "post-btn" %></li>
        <li class="back-box"><%= link_to "Go Back to My Board", lists_path, class: "back-board-btn" %></li>
      </ul>
    <% end %>
  </div>
</div>