<%= render "shared/header"%>
<div class="signup-wrapper">
  <div class="left-contents">
    <div class="signup-title">
      <h2>Create an Acount</h2>
      <h5>新規ユーザー登録</h5>
    </div>
    <div class="signup-border">
      <%= image_tag "border.png", class: "signup-border"%>
    </div>
    <div class="link-option">
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <div class="signup-form">
    <%= form_with model: @user, url:user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname, class: "input-title" %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "input-area" %>
      </div>

      <div class="field">
        <%= f.label :email, class:"input-title" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-area" %>
      </div>

      <%if @sns_id.present? %>
        <%= hidden_field_tag :sns_auth, true %>
      <% else %>
        <div class="field">
          <%= f.label :password, class: "input-title" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "input-area" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "input-title" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-area" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign up", class: "submit-btn" %>
      </div>

    <% end %>

    <ul class="sns-login">
      <li class="fab fa-facebook-square"><%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post, class: "fb-login text-white" %></li>
      <li class="fab fa-google"><%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class: "google-login text-white" %></li>
    </ul>

  </div>
</div>
<%= render "shared/footer" %>