<%= render "shared/header" %>

<div class="password-forgot">
  <div class="forgot-wrapper">
    <div class="password-forgot-title">
      <h1>Forgot your password?</h1>
      <h4>登録済みメールアドレスからパスワードを再発行します</h4>
    </div>

    <div class="password-forgot-input">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="password-forgot-field">
        <div class="password-forgot-text">E-mail</div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "password-forgot-inputarea" %>
      </div>

      <div class="password-forgot-actions">
        <%= f.submit "Send me reset password instructions", class: "password-forgot-btn" %>
      </div>
    <% end %>
    </div>

  </div>
  <div class="password-forgot-links">
    <%= render "devise/shared/links" %>
  </div>

</div>