<div class="bottom-footer">
  <div class="bottom-wrapper">
    <ul class="bottom-navi">
      <li><%= link_to "About Us", "#", class: "navi-link" %></li>
      <li><%= link_to "Privacy Polisy", "#", class: "navi-link" %></li>
      <li><%= link_to "Terms of Use", "#", class: "navi-link" %></li>
      <li><%= link_to "Contact Us", "#", class: "navi-link" %></li>
    </ul>
    <div class="sns-links">
      <p>CONNECT</p>
      <%= link_to "#" do%>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
      <% end %>
    </div>
    <p class="copywrite">©︎ 2020 A-List Board</p>
  </div>
</div>