<div class="top-header">
  <div class="top-wrapper">
    <div class="left-content">
      <%= link_to image_tag('alb-logo', class:"logo-image"), "/" %>
    </div>

    <div class="right-content">
      <ul class="my-link-navi">
        <% if user_signed_in? && current_page?(root_path) %>
          <li class="my-link"><%= link_to "My Board", lists_path, class: "user-nickname" %></li>
          <li class="my-link"><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% elsif user_signed_in? %>
          <li class="my-link"><%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname" %></li>
          <li class="my-link"><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>