<%= render "shared/header"%>
<div class="login-wrapper">
  <div class="left-contents">
    <div class="login-title">
      <h2>Log In</h2>
      <h5>登録済みユーザーでログイン</h5>
    </div>
    <div class="login-border">
      <%= image_tag "border.png", class: "login-border" %>
    </div>
    <div class="link-option">
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <div class="login-form">
    <%= form_with model: @user, url:user_session_path, local: true do |f| %>
      <div class="field">
        <%= f.label :email, class: "input-title" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-area" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "input-title" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input-area" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "check-box" %>
          <%= f.label :remember_me, class: "input-title" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log In", class: "submit-btn" %>
      </div>
    <% end %>
    <%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post%>
    <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post%>
  </div>
</div>
<%= render "shared/footer"%>